.o
  .c24
    .logo
      = image_tag(asset_path("logo.jpg"))
    .social
      = link_to image_tag('misc/twitter.png'), 'https://twitter.com/#!/Like_a_bouse', target: '_blank'
      = link_to image_tag('misc/facebook.png'), 'https://www.facebook.com/pages/Likeabouse/258771540888972', target: '_blank'