%section#ib-container.ib-container
  %article
    .blur_container
      %h2
        Marko Hielscher
      %h4 Web-Developer
      %p From Hamburg, Germany
    %p 
  %article
    .blur_container
      %h3
        = image_tag('photos/marko.png')
  %article
    .blur_container
      %h2
        Angelo Maron
      %h4 Web-Developer
      %p From Hamburg, Germany
    %p 
  %article
    .blur_container
      %h3
        = image_tag('photos/angelo.jpg')