%section#ib-container.ib-container
  %article
    .blur_container
      %h2
        Marko Hielscher
      %h4 Software Engineer
      %p From Hamburg, Germany
      %p= link_to "Follow me on Twitter", "https://twitter.com/MarkoHiel"
      %p= link_to "Find me on XING", "http://www.xing.com/profile/Marko_Hielscher"
    %p
  %article
    .blur_container
      %h3
        = image_tag('photos/marko.png')
  %article
    .blur_container
      %h2
        Angelo Maron
      %h4 Software Engineer
      %p From Hamburg, Germany
    %p
  %article
    .blur_container
      %h3
        = image_tag('photos/angelo.jpg')