.posts.recent
  %table
    %tbody= render partial: "posts/post", collection: @posts
    
:javascript
  $(document).ready(function() {
    $("a.jq_category_link").click(function(event) {
      event.preventDefault();
      
      tab_index = $(this).attr("data-tab-index");
      $(".ui-tabs-nav").find("a[data-tab-index="+tab_index+"]").trigger("click");
    });
  });