%tr{id: dom_id(post)}
  %td.name
    %span.link= link_to_blank post.name, post.link
    %span.description= post.description
  %td.category= link_to_category post.category
  %td.created= post_information post