- row_index = 0
.jq-posts
  - posts.in_groups_of(4, false) do |row_posts|
    .row-fluid.jq-posts-row{data: {row: row_index}}
      - row_index += 1
      - for post in row_posts
        .span3
          = render "categories/post", post: post