.post
  .date= post.created_at.strftime("%d.%m.%Y %H:%M")
  .name= link_to post.name, post.link, target: "_blank"
  .description= post.description
  .link= link_to truncate(post.link, length: 40), post.link,  target: "_blank"