#home
  - for category in @categories
    .category{id: dom_id(category)}
      %h3= category.name
      - if category.no_posts?
        %p No Posts for this category
      - else
        = render partial: "categories/posts", object: category.posts.recent.top10
        .read_more
          = link_to minor_tag("search"), category_path(category), title: "More..."
    .clearer
              