- if @posts.any?
  = render "categories/posts", posts: @posts
  / .hidden
  /   = paginate @posts
- else
  .row-fluid
    .no_entries
      = image_tag('sad_smiley.png')
      = "Leider keine Einträge gefunden"