#bodyer
  margin-top: 85px
  min-height: 500px
  background-color: $white
  padding-top: 20px
  
  .category
    margin-bottom: 15px
    
    h2
      float: left
    a.read_more
      padding-left: 10px
      float: left
    
    table.posts
      width: 100%
      margin: 0
    
      thead tr td
        font-style: italic
        font-weight: bold
        color: $black
      
      tbody
        tr
          td
            a
              color: $red1
            
            &.link
              font-size: 14px
              color: $black2
              width: 200px
          
            &.description
              font-size: 9px
              color: $gray