#bodyer
  margin-top: 85px
  min-height: 500px
  background-color: $skin
  padding-top: 20px
  
  table.posts
    width: 100%
    
    thead tr td
      font-style: italic
      font-weight: bold
      color: $black
      
    tbody
      tr
        td
          a
            color: $red1
            
          &.link
            font-size: 14px
            color: $black2
            width: 200px
          
          &.description
            font-size: 9px
            color: $gray
  .side_navigation
    width: 100%
    
    .nav_element
      padding: 5px
      border-radius: 6px
      
      a
        display: block
        text-decoration: none
        color: $black
        width: 80px
      
      &.active
        background-color: $black
        
        a
          color: $white
      
      &:hover
        background-color: $black
        
        a
          display: block
          color: $white
          width: 90px
          text-decoration: none