#bodyer
  margin-top: 85px
  
  #home
    min-height: 500px

  .cat_headline
    h2
      color: #C00000
      border: 3px solid $white
      padding: 5px
    h2:hover
      border-radius: 15px
      background-color: $gray6
      border: 3px solid $black