body
  color: $black
  font-family: helvetica, verdana, sans-serif
  font-size: 14.5px
h1
  color: $black2
  font-size: 30px
h2
  color: $red1
  font-size: 23px

.clearer
  clear: both

// color
.text_black
  color: $black
.text_red
  color: $red1

a
  text-decoration: none !important
  
  &:hover
    text-decoration: underline !important
    