header
  height: 80px
  position: fixed
  top: 0
  z-index: 3
  width: 100%
  border-bottom: 3px solid $red1
  background-color: $white
  
  h2
    color: $red1
    padding-top: 10px

  .c24
    height: 100px
    
  .logo
    float: left
    padding-top: 30px
    a
      font-family: 'Press Start 2P', cursive
      color: $black
      font-size: 50px
      text-decoration: none
    
  .social
    padding-top: 10px
    float: right