header
  height: 125px
  position: fixed
  top: 0
  z-index: 3
  width: 100%
  border-bottom: 4px solid $red1
  background-image: image_url('bouse_background.png')

  h4
    color: $red1
    padding-top: 100px

  .c24
    height: 100px

  .logo
    float: left

    img
      width: 242px
      height: 120px

  .social
    padding-top: 10px
    float: right