#header
  border-top: 2px solid $red1
  .social
    margin-top: 15px
    margin-right: 20px
    float: right
    img.rss
      padding-bottom: 1px
      width: 59px
      height: 59px
  .logo
    margin-left: 20px
    margin-top: 10px

  .categories, .links
    margin-top: 10px
    a
      color: $red1
    a:hover
      color: $red1
      text-decoration: none
      border-bottom: 2px solid $red1
  .links
    float: right
    margin-right: 25px

  .search_field
    margin-top: 5px
    input
      padding: 4px 6px
      border-radius: 10px      
      #search
        color: grey
        width: 100px
    input[type="submit"]
      background: $gray
      border: none
