.bouse_pagination
  padding: 0 0 10px 10px
  text-align: center
  
  a
    font-size: 85%
    color: $gray
  
  .page.current
    font-size: 90%
    color: $black2
    font-weight: bold
          
  .next a, .prev a, .first a, .last a
    font-weight: italic