.post
  margin-top: 10px
  padding: 15px 
  background-color: $white
  border-radius: 5px
  box-shadow: 3px 3px 3px #D8D6D6
  height: 120px
  .name
    border-bottom: 1px solid $gray2
    margin-bottom: 10px
    a
      color: $red1
  .description
    margin-top: 5px
    min-height: 50px
  .link
    a
      color: $gray2
  .date
    float: right
    font-size: 10px

.no_entries
  font-size: 18px
  position: relative
  text-align: center
  margin: 0 auto